@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-fundo : rgb(245, 91, 2);
    --cor-hover : rgb(248, 143, 44);
    --cor-primaria : rgb(255, 255, 255);
    --cor-fonte : rgb(26, 26, 26);
    --padding : 4px;
    --font-family1 : 'open sans', sans-serif;
    --font-family2 : 'Roboto', sans-serif;
}

*{
    text-decoration: none;
    list-style: none;
    padding: 0; 
}

html {
    height: 100%;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    
}

.header-master{
    margin: 0;
    padding: 0;
    font-family: var(--font-family1) ;
}

 .header-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scout-br, .scout-ce{
    width: 18rem;
    padding: var(--padding);
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    background-color: var(--cor-fundo);
    box-shadow: 30px rgb(107, 107, 107); 
}

.logo-ge {
    width: 4rem;
    margin: 8px;
}

.dropdown {
    float: left;
    overflow: hidden;   
}

.dropdown:hover .drop-content {
    display: block;
}

.drop-button{
    justify-content: center;
    font-size: 15px;
    border: none;
    outline: none;
    color: var(--cor-primaria);
    padding: 30px 16px;
    background-color: var(--cor-fundo);
    font-family: inherit;
    
}

.drop-button:hover {
    background-color: var(--cor-hover) ;
    transition: 0,8s;
} 

.drop-content {
    display: none;
    position: absolute;
    background-color:#f9f9f9;
    min-width: 160px;
    box-shadow: 0px 6px 6px 0px rgb(39, 39, 39);
    z-index: 1;
}

.drop-content a{
    float: none;
    color: var(--cor-fundo);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover{
    background-color: var(--cor-hover);
}

.main-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagens/IMG_1819.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    position: relative;
    height: 50%;
}

.main-text {
    text-align: center;
    top: 50%;
    color: rgb(223, 223, 223);
    font-family: var(--font-family2);
}

.hero-text1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.ramos {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--font-family2);
    text-decoration: none;
}

.ramos a {
    color: rgb(63, 62, 62);
    font-size: 70% ;
}

.choice-one {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    font-family: var(--font-family1);
    max-width: 800px;
    margin: 0 auto;
}

.choice-one:hover {
    box-shadow: 20px #202020;

}

.choice-one img {
    max-width: 100%;
    flex: 1 1 200px;
}

.choice-one h4, p{
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.choice-one p{
    font-size: 14px;
    justify-content: center;
}

.lobo, .scout, .senior, .pio, .bp {
    margin: 10px;
    position: relative;
}

.lobo-img {
    border: 2px solid rgb(255, 251, 2);
}

.scout-img {
    border: 2px solid rgb(12, 138, 8);
}

.senior-img {
    border: 2px solid #831d1c;
}

.pio-img {
    border: 2px solid #d40a0a;
}

.bp-img {
    border: 2px solid rgb(9, 1, 128);
} 
