@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif ;
}

#menu-h {
    background-color: rgb(212, 106, 19);
}

#menu-h ul {
    max-width: 800px;
    padding: 0;
    list-style: none;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 20px;
    display: inline-block;
    transition: 3s;
}

#menu-h ul li a:hover {
    background-color: rgb(243, 155, 84);
}

.logo-ge {
    ;
}